.cache/
.vscode/
.lingma/
.qoder/
.continue/
__pycache__/

build/
output/

include/cpunchline_version_auto.h
kernel/linux-*.tar*
kernel/linux-*/
kernel/busybox-*.tar*
kernel/busybox-*/
kernel/tmp/

lib/local_registry/proto/
lib/local_registry/generated/

python-project/env/
rust-project/target/
scripts/tmp/
scripts/sqlite-*.tar.gz

simulator/nanopb_test/auto/
